
#-Basic info----------------------------------------------------------------------------------------
display_name: assemblatron
#name is compound of display_name, code version, resource version
name: assemblatron__v2.2.20
version:
  schema: ["v2_1_0"]
  code: v2.2.20
#---------------------------------------------------------------------------------------------------

#-Details-------------------------------------------------------------------------------------------
details:
  target: [sample]
  description: >
    This does de-novo assembly on a sample and then maps the reads back against the denovo assembly
    for variant calling. In the process it gathers metrics on many aspects for the use of QC. This
    generates the same metrics as qcquickie but should yield better contigs and it is recommended
    to use these contigs for downstream analysis.
#---------------------------------------------------------------------------------------------------

#-Category info-------------------------------------------------------------------------------------
category: [denovo_assembly, mapping_qc, contigs]
#---------------------------------------------------------------------------------------------------

#-Install-------------------------------------------------------------------------------------------
install:
  path: # Set by install program
  dockerfile: docker://ssidk/bifrost_assemblatron
#---------------------------------------------------------------------------------------------------

#-Options-------------------------------------------------------------------------------------------
options:
# NA
#---------------------------------------------------------------------------------------------------

#-Required resource files---------------------------------------------------------------------------
resources:
  adapters_fasta: "/bifrost/components/bifrost_assemblatron/resources/adapters.fasta"
#---------------------------------------------------------------------------------------------------

#-Requirements to run component---------------------------------------------------------------------
requirements:
  sample:
    categories:
      paired_reads:
        summary:
          data:
#---------------------------------------------------------------------------------------------------

#-DB Value changes (excluding component output)-----------------------------------------------------
db_values_changes:
  files:
    - assemblatron/contigs.fasta
    - assemblatron/contigs.pileup
    - assemblatron/contigs.sketch
    - assemblatron/contigs.stats
    - assemblatron/contigs.sum.cov
    - assemblatron/contigs.variants
  sample:
    properties:
      denovo_assembly:
        summary:  # see sample_component summary
        component:
          _id: 
          date:  # ObjectId
    report:
  sample_component:
      summary:
        bin_contigs_at_1x:
        bin_length_at_1x:
        bin_coverage_at_1x:
        bin_contigs_at_10x:
        bin_length_at_10x:
        bin_coverage_at_10x:
        bin_contigs_at_25x:
        bin_length_at_25x:
        bin_coverage_at_25x:
        raw_length_at_1x:
        raw_length_at_10x:
        raw_length_at_25x:
        filtered_reads_num:
        GC:
        N50:
        snp_filter_10x_10%:
        snp_filter_indels:
        snp_filter_deletions:
        raw_total_sequences:
        reads_mapped:
        reads_unmapped:
        insert_size_average:
        insert_size_standard_deviation:
      results:
        assemblatron/contigs_sum_cov: {}
        assemblatron/contigs_bin_cov: {}
        assemblatron/log/setup__filter_reads_with_bbduk_err_log: {}
        assemblatron/quast/report_tsv: {}
        assemblatron/contigs_variants: {}
        assemblatron/contigs_stats: {}
#---------------------------------------------------------------------------------------------------
